extends layout

block content
  h1 Projects
  ul
    li
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique feugiat pretium. Nam nec erat vitae magna volutpat ultrices. Nunc rhoncus molestie nunc quis gravida. Vestibulum et lacus ut eros fermentum faucibus. Sed pellentesque lacus ut nibh aliquam, at dictum sem finibus. Aenean in tortor vitae lorem mattis condimentum porta sit amet sapien. Phasellus quis metus eleifend, accumsan eros in, tincidunt dolor. Nunc sagittis diam ligula, nec venenatis enim sodales ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    li
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique feugiat pretium. Nam nec erat vitae magna volutpat ultrices. Nunc rhoncus molestie nunc quis gravida. Vestibulum et lacus ut eros fermentum faucibus. Sed pellentesque lacus ut nibh aliquam, at dictum sem finibus. Aenean in tortor vitae lorem mattis condimentum porta sit amet sapien. Phasellus quis metus eleifend, accumsan eros in, tincidunt dolor. Nunc sagittis diam ligula, nec venenatis enim sodales ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    li
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tristique feugiat pretium. Nam nec erat vitae magna volutpat ultrices. Nunc rhoncus molestie nunc quis gravida. Vestibulum et lacus ut eros fermentum faucibus. Sed pellentesque lacus ut nibh aliquam, at dictum sem finibus. Aenean in tortor vitae lorem mattis condimentum porta sit amet sapien. Phasellus quis metus eleifend, accumsan eros in, tincidunt dolor. Nunc sagittis diam ligula, nec venenatis enim sodales ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    
